@import url(https://www.google.com/search?q=hacker&client=opera-gx&hs=fRs&sxsrf=AJOqlzW2N_OjDYSvqXr4JkFmuVFzd11nbg:1677148618899&source=lnms&tbm=isch&sa=X&ved=2ahUKEwji0Ki9uav9AhWghv0HHfqAD7QQ_AUoAXoECAEQAw&biw=1325&bih=619&dpr=1#imgrc=IcW4zNbrsQX_5M);
header{
  text-align: center;
  color: black;
}
body{
  background-color: green;
  font-size: x-large;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bof{
  
  align-items: center;
  justify-content: center;
  display: flex;
}